<nav role="navigation" class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-brand navbar-text navbar-custom" href="/">Read File App</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
    <div class="nav navbar-nav navbar-right navbar-custom" id="mynavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="readfile" routerLinkActive="active">Read File <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>