
<!-- the form for filename input -->
<div *ngIf="!fname; else forminfo">
    <div class="row">
        <form [formGroup]="rform" (ngSubmit)="readFile(rform.value)" (keyup.enter)="rform.valid?readFile(rform.value):updateValueAndValidity">
            <div class="col-sm-10 ">
              <div class="form-group">
                  <label for="fname">File Name (file.txt, smallfile.txt, largefile.txt)</label>
                  <input type="text" class="form-control"
                  formControlName="fname" 
                  required
                  minlength="3"
                  (onChange)="this.rform.updateValueAndValidity()"
                  >
                  <div *ngIf="!rform.controls['fname'].valid && rform.controls['fname'].touched" class="alert alert-danger">
                      Please type a valid file name: no spaces, minimum 3 characters with .txt ending.
                  </div>
              </div>
            </div>
            <div class="col-sm-2">
              <br>
              <button [disabled]="!rform.valid" type="submit" class="btn btn-primary">
                  Read File
              </button>
            </div>
        </form>
    </div>
</div>
<!-- the form for filename input -->
  <ng-template #forminfo>
  <div class="form-froup">
    <div class="form-group">
      <h1>{{fname}}</h1>
    </div>
  </div>
</ng-template>