<!--  [(ngModel)]="fname" #fname       -->
<div *ngIf="!fname; else forminfo">
  <div class="row">
      <div class="col-md-12 well">
        <form [formGroup]="rform" (ngSubmit)="readFile(rform.value)">
            <div class="form-group">
                <label for="fname">File Name</label>
                <input type="text" class="form-control"
                formControlName="fname" 
                required
                minlength="3"
                >
                <div *ngIf="!rform.controls['fname'].valid && rform.controls['fname'].touched" class="alert alert-danger">
                    Please type a valid file name.
                </div>
            </div>

            <button [disabled]="!rform.valid" type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
      </div>
  </div>
</div>

  <ng-template #forminfo>
  <div class="form-froup">
    <div class="form-group">
      <h1>{{fname}}</h1>
    </div>
  </div>
</ng-template>